@model (string Icon, string Title, List<string> Messages)

<script>
	Swal.fire({
		icon: '@Model.Icon',
		title: '@Model.Title',
		html: '<ul style="text-align: left;">' +
	@Html.Raw(string.Join("+", Model.Messages.Select(m => $"'<li>{m}</li>'"))) +
			'</ul>',
		width: '400px',
		padding: '1.5rem',
		confirmButtonColor: '#0d6efd',
		confirmButtonText: 'OK',
		customClass: {
			popup: 'shadow rounded',
			title: 'fs-4',
			confirmButton: 'btn btn-primary'
		}
	});
</script>
