@model LibrarySystem.Models.ErrorViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error @Model.StatusCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container d-flex flex-column justify-content-center" style="height: 70vh">
        <div class="text-center">
            <p class="text-danger">Error @Model.StatusCode</p>
            <p class="lead">@Model.Message</p>
            @* <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go Back to Home</a> *@
        </div>
    </div>
</body>
</html>
